<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="mentordash.component.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="container">
        <nav>
            <a href="/mentordash">
               
                <span class="nav-item">Mentor Dashboard</span>
            </a>
            <a href="/#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a>
            <a href="/projectdetails">
                <i class="fas fa-tasks"></i>
                <span class="nav-item">Project Details</span>
            </a>
            <a href="/studentdetails">
                <i class="fas fa-question-circle"></i>
                <span class="nav-item">Evaluation <br>Page</span>
            </a>
            <a href="#" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Log out</span>
            </a>
        </nav>
        
            
            <main>
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    <br />Project
                    <span style="color: hsl(140, 98%, 51%)"></span>
                </h1>
                <ul class="project-list">
                    <li class="project-item">
                        <h3>Project 1</h3>
                        <p>Project Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#">View Students</a>
                    </li>
                    <li class="project-item">
                        <h3>Project 2</h3>
                        <p>Project Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#">View Students</a>
                    </li>
                    <!-- Add more project items as needed -->
                </ul>
            </main>
    </div>
</body>
</html>
