<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>

<section class="background-radial-gradient overflow-hidden" 
    style="background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1380&t=st=1704883588~exp=1704884188~hmac=0131a27a56367e509db42e31f0e65db08dc15685c87117f3af319d6d9b972061');
    background-size: cover; background-position: center; 
    min-height: 100vh;">

    <div class="main" style="display: flex; flex-direction: column; min-height: 100vh;">
        <div class="navbar">
            <div class="menu">
               <!-- <ul>
                    <li><a href="/">HOME</a></li>
                       <li><a href="/batchcordinator">BATCH COORDINATOR</a></li>
                    <li><a href="/mentorlogin">MENTOR</a></li>
                    <li><a href="/student">STUDENT</a></li>
                    <li><a href="/admindash">DASHBOARD</a></li>
                    
                </ul>
                -->
            </div>
        </div>
        
        <div class="content">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            EDU-MENTOR <br/>
            <span style="color: hsl(187, 100%, 81%)"></span>
        </h1>
           
            <h5>Welcome to the Project Mentoring Portal! <br>
                It's a place where people who want to learn (mentees) and those with experience (mentors) connect. <br> Our platform makes it easy for them to team up,
                helping everyone learn new skills and succeed in their projects.</h5><br>
                <a href="/batchcordinator" class="glow-on-hover">
                  <button type="button">Login Now</button>
                </a>
                
        </div>

        <!-- Footer -->
        <footer class="page-footer shadow">
            <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
                <div class="d-flex flex-wrap justify-content-between">
                    <div>
                        <a href="/" class="d-flex align-items-center p-0 text-dark">
                            <img alt="logo" src="https://github.com/alexjjose/Photos/blob/main/LOGO1WB.png?raw=true" width="120px" height="50px" style="border-radius: 50%;" />
                        </a>
                        
                        <p class="my-3" style="width: 250px">
                            "Your Journey, Our Guidance."
                        </p>
                    </div>
                    <div>
                        <p class="h5 mb-4" style="font-weight: 600">About Us</p>
                        <ul class="p-0" style="list-style: none; cursor: pointer">
                            <li class="my-2">
                                <a class="text" href="/">Resources</a>
                            </li>
                            <li class="my-2">
                                <a class="text" href="/">About Us</a>
                            </li>
                            <li class="my-2">
                                <a class="text" href="/">Contact</a>
                            </li>
                            <li class="my-2">
                                <a class="text" href="/">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <small class="text-center mt-5">&copy; EDU-MENTOR, 2023. All rights reserved.</small>
            </div>
        </footer>
        <!-- End Footer -->

    </div>

</section>

</body>
</html>