body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://github.com/alexjjose/Photos/blob/main/1703833161469-01.jpeg?raw=true');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white; /* Set default text color to white */
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #eee;
  padding: 10px;
}

.container {
  margin-top: 20px;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.logout {
  float: right;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: black; /* Set text color for the table */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: black; /* Set text color for table cells */
}

th {
  background-color: #f2f2f2;
}