body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaperaccess.com/full/5994529.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 10px;
}

.container {
    margin-top: 20px;
    padding: 20px;
}

.content {
    color: white; /* Add this line to set text color to white in the main content */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.logout {
    float: right;
}