@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('https://github.com/alexjjose/Photos/blob/main/1703834381214-01.jpeg.jpg?raw=true'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Add your preferred font-family here */
}

.container {
    display: flex;
    width: 100%;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 100%;
    padding: 15px;
    text-align: center;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    display: none;
    font-weight: bold;
    padding-left: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

nav:hover .nav-item {
    display: block;
}

a:hover {
    background: #eee;
}

.logout {
    position: absolute;
    bottom: 0;
    width: 70px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.main-content header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
header {
    font-weight: bold;
    margin-bottom: 20px; /* Adjust the value as needed */
}
.main-content .container {
    display: flex;
    flex-direction: column;
}

.main-content .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main-content .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}